<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>View Files</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/alertify.min.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.js"></script>

    <script src="../static/js/angular.min.js"></script>
    <script src="../static/js/angular-route.min.js"></script>    
</head>

<body ng-app="DocumentoService" ng-controller="Documentos" >
    
    <div ng-include="'menu'" ></div>
    <div ng-include="'upload'" id="sect_upload" hidden ></div>
    <div ng-include="'view'" ></div>
    <!-- <div ng-include="'modal'" ng   -controller="dialogoController"></div> -->
    <!-- <script src="../static/js/controller/view.js"></script> -->
        
    <script src="../static/js/alertify.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>    
    <script src="../static/js/index.js"></script>
    <!-- <script src="../static/js/controller/upload.js"></script> -->
    
</body>
</html>