{% extends 'index.html' %}
{% block access %}

<div ng-app="CuentaService" ng-controller="suscribirCuenta" class="container card mt-5">
    <form id="form_registerUser" class="row row-cols-1 g-3 m-5 p-2" >
      <div class="col">
        <label for="ipt_email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="ipt_email" ng-model="email" required  placeholder="Correo electrónico">
      </div>
      <div class="col">
        <label for="ipt_password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="ipt_password" ng-model="password" required placeholder="Contraseña">
      </div>
      <div class="col">
        <button type="button" class="btn btn-success" ng-click="postData(email,password)" form="form_verificarUser">Registrar</button>
        <button type="button" class="btn btn-secondary" ng-click="" form="form_verificarUser">Cancelar</button>
    </div>
      
    </form>
  </div>
  <script src="{{ url_for('static', filename='js/controller/access.js') }}"></script>

{% endblock %}