<section class="container my-1">
    <div class="card">
        <form id="form_agregarfile" class="card-body">
            <h6 class="card-title">Inserte el Ticket</h6>
            <div class="btn-group" role="group">
               <input class="form-control btn " id="bton_cargarfile" type="file" accept="text/xml" />
               <input class="form-control btn btn-dark" type="submit" ng-click="uploadFile()" value="Subir" form="form_agregarfile" />
            </div>        
        </form>
    </div>
</section>