<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>View Files</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Docx   </a>
                <button class="navbar-toggler" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" 
                    aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Fotos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/upload">Subir Foto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <script src="../static/js/bootstrap.min.js"></script>
        {% block view %}{% endblock %}
        {% block upload %} {% endblock %}
        {% block modal %} {% endblock %}
    </body>
</html>