{% extends 'index.html' %}
{% block upload %}
        <section class="container-fluid card">
            <form id="form_agregarfile" class="card-body input-group">
                <input class="form-control" id="bton_cargarfile" type="file" accept="image/*,video/*" />
                <input class="btn btn-dark btn-outline-secondary" type="submit" value="Upload" form="form_agregarfile" />
            </form>
        </section>
        <script src="{{ url_for('static', filename='js/controller/upload.js') }}"></script>
{% endblock %}