{% extends 'index.html' %}
{% import '/macros/archivo.html'as macro %}
{% block view %}
    <section class="container-fluid card">
        <label class="text-start"><b>Periodo</b></label>
        <form class="card-body input-group">
            <input id="bton_incio" class="form-control" type="date" />
            <input id="bton_final" class="form-control" type="date" />
        </form>
        <label class="text-start"><b>Tipo de Archivo</b></label>
        <form class="card-body input-group">
            <select id="sele_type" class="form-select" multiple>
                {% for formato in formatos %}
                    {{ macro.seleGetFormats(formato.nombre, formato.tipo) }}
                {% endfor  %}
            </select>
        </form>
    </section>
    
    <section class="container-fluid card" id="page_view">
        <form id="form_displayfiles" class="card-body" style="display: block;">
            <div class="list-group">
                {% for file in documentos %}
                    {{ macro.listViewFiles(file) }}
                {% endfor %}
            </div>
        </form>
    </section>
    <script src="{{ url_for('static', filename='js/controller/view.js') }}"></script>
{% endblock %}